/* Body Color */
body {
    background-color: #0c6a5a;
  }
  
  /* Header and Navigation bar format */
  .header {
    border: 2px solid rgb(0, 0, 0);
    margin: 40px}
  
  .topheader {
      background-color: white;
      border: 2px solid rgb(0, 0, 0);
      border-top-style: black;
      border-left-style: black;
      border-right-style: black;
      margin: -2px;
      height: 100px;
      padding: 10px}
  
  
  .logo img {
    height:100px;
    width:100px;
    float: left
  }
  
  .logotitle {
    text-align: center;
    float: center
  }
  .navbar {
    float:center;
    padding: 20px}

  .navbar a{
    float:center;
    padding-left: 300px;
    color:#b65e4d;
    text-decoration: none;
    font-size: 20px;
    width: 25%;
    text-align: center
      }
/*body page message format */

.announcement {
  padding: 40px;
  margin: 80px
}
.announcementphoto img{
  height: 400px;
  width: 100%;
  
}
.announcetext {
  top: 300px;
  left: 400px;
  position: absolute;
  z-index: 100
}

#announce {
  color:black ;
  text-align: center;
  padding: 60px;
  margin: 60px;
  font-family: 'Andale Mono', monospace;
}

.shop {
  text-align: center;
  margin: 150px;
  padding: 10px;
  height: 150px;
  width: 80%;
  border-style: solid;
  border-color: #38302b;
  border-right-style: none;
  border-left-style: none
}
.shoplink {
  padding: 10px;
  text-align: center;
  margin-left: 580px;
  margin-top:5px;
  
  height:50px;
  width:350px;
  border-style:solid;
  border: 2px;
  border-width: 2px;
  background-color: #38302b
}
.shoplink a{
  color:#d2b48c;
  text-decoration: none;
  text-align: center;
  font-size: 28px;
    }

  
  /*declare colors for headers and links */
  h1 { color: #b65e4d}

  h2 {color: #d2b48c;
  text-align: center}

  h3{color: #d2b48c}
  
  li {color :white}
  a:link {text-decoration: none;}
  a:visited {text-decoration:#63554b ;}

  /*font format */
  p {
    font-family: 'Andale Mono', monospace;
    color: white
    }
  
